<%- include('partials/head.ejs') %>
	
</head>

<body>
	<%- include('partials/navigation.ejs') %>
	<div class='container'>
		<div class="card my-2 py-4">
			<div class="card-body">
				<strong>Step 1: </strong><p>Take a picture of the leaf</p>
				<strong>Step 2: </strong><p>Upload the image below</p>
				<strong>Step 3: </strong><p>Get to know if the crop has any disease or not and how to fix it</p>
			</div>
		</div>
		<!-- <form action="/" method="POST" enctype="multipart/form-data">
			<div class="row">
				<div class="col-sm-12 col-md-8 col-lg-8">
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="fileUpload" name="image">
						<label class="custom-file-label" for="fileUpload">Choose file</label>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 col-lg-4">
					<button type="submit" class="btn btn-primary" id="submit">Submit</button>
				</div>
				<br />
			</div>
			<div class="row">
				<div id="image-holder">
					<img src="">
				</div>
			</div>
		</form> -->
		<form action="/" method="POST" enctype="multipart/form-data">
			<div id="wrapper">
				<input id="fileUpload" type="file" name="image">
				<br />
				<div id="image-holder"></div>
			</div>
			<div>
				<button type="submit" id="submit">Submit</button>
			</div>
		</form>
		<div id="image-holder">
			<img src="">
		</div>
			
		<% if(hasError) { %>
			<h1><%= errorMessage %></h1>
		<% } else if (success && success.length > 0) { %>
			<div class="alert alert-success" role="alert"><%= success %></div>
		<% } %>
	</div>
	<script type="text/javascript" src="/js/home.js"></script>
<!-- 	<p id="status">OpenCV.js is loading...</p>
	<script src="https://cdn.jsdelivr.net/gh/nicolaspanel/numjs@0.15.1/dist/numjs.min.js"></script>
	<script type="text/javascript">
	let imgElement = document.getElementById('imageSrc');
	let inputElement = document.getElementById('fileInput');
	inputElement.addEventListener('change', (e) => {
	  imgElement.src = URL.createObjectURL(e.target.files[0]);
	}, false);
	imgElement.onload = function() {
		let mat = cv.imread(imgElement);
		let dst = new cv.Mat();
		let dsize = new cv.Size(50, 50);
		// You can try more different parameters
		cv.resize(mat, dst, dsize);
		mat.delete();
		const shape = [1, 50, 50, 3]; // 2 rows, 3 columns
		const a = tf.tensor(dst, shape);
		a.print();
		console.log(a);
		console.log(typeof dst);
		console.log(dst);
		console.log(dst);
		dst = dst / 255.0;
	  	
	};
	function onOpenCvReady() {
	  document.getElementById('status').innerHTML = 'OpenCV.js is ready.';
	}
	</script>
	<script async src="https://docs.opencv.org/master/opencv.js" onload="onOpenCvReady();" type="text/javascript"></script> -->
<%- include('partials/end.ejs') %>